@font-face {
    font-family: Docker;
    src: url('/font/Docker One.otf');
    src: local(''),
    url("/font/Docker One.woff") format("woff"),
    url("/font/Docker One.ttf") format("truetype"),
    url("/font/Docker One.svg") format("svg");
}

body {
    background-color: #000000;
    font-family: "Docker", sans-serif;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    height: 2px;
    background-color: white;
    border-radius: 2px;
}

.main {
    width: 100%;
    height: 100%;
}

.container {
    width: 60%;
    margin: auto;
}

.header {
    width: 100%;
    display: table;
}

.unity-logo {
    width: 128px;
    height: 62px;
    float: left;
}

.unity-logo img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.menu {
    float: left;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin: 0 10px 0 10px;
}

.entry {
    float: right;
}

.entry ul {
    list-style: none;
}
/*.reserve {*/
    /*float: right;*/
    /*font-family: Arial, sans-serif;*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/

.social-nets {
    float: right;
    text-align: center;
}

.social-nets span {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.social-nets img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.phone {
    font-family: Arial, sans-serif;
}

.content {
    width: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    min-height: 1000px;
    margin: auto;
    text-align: center;
}

.background {
    /*position: fixed;*/
    /*z-index: 101;*/
    float: right;
    width: 20%;
    margin-right: -5px;
    overflow: hidden;
}

.background2 {
    /*position: fixed;*/
    /*z-index: 101;*/
    width: 20%;
    margin-left: -3px;
    float: left;
    /*margin-top: 10px;*/
    overflow: hidden;
    clear: both;
}

/*------------------------Drop down profile-------------*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
h1{
    font:400 40px 'pt sans',sans-serif;
    text-align:center;
}
.auth-reg a{
    text-decoration:none;
}

.auth-reg{
    position:relative;
    margin-left: 10px;
    cursor: pointer;
}
.auth-reg>ul{
    position:relative;
    list-style:none;
    padding:0;
}
.auth-reg>ul>li>ul{
    position:absolute;
    left:0;
    padding:0;
    margin:0;
    list-style:none;
}
.auth-reg>ul>li:hover>ul li a{
    opacity:1;
    height:50px;
    transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -webkit-transition:all .3s linear;
}

.auth-reg>ul>li>ul a{
    display:block;
    color:#222;
    width:100px;
    line-height:50px !important;
    font:700 14px 'pt sans',sans-serif;
    background:#eee;
    border-bottom:1px solid #ddd;
    text-align:left;
    padding:0 5px;
    height:0;
    overflow:hidden;
    opacity:0;
    transition:all .3s linear .2s;
    -o-transition:all .3s linear .2s;
    -moz-transition:all .3s linear .2s;
    -webkit-transition:all .3s linear .2s;
}

.auth-reg>ul>li{
    float:left;
    position:relative;
}
.auth-reg>ul>li>a{
    padding:0 20px;
    color:#fff;
    display:block;
    line-height:70px !important;
    font:400 15px 'PT Sans', sans-serif;
    text-transform:uppercase;
    text-decoration:none;
}
.lamp span{
    display:block;
    height:4px;
    background:#ee6666;
    position: relative;
}
.lamp span:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 102, 102, 0);
    border-bottom-color: #ee6666;
    border-width: 4px;
    margin-left: -4px;
}
.lamp{
    position:absolute !important;
    height:4px;
    top:66px;
    background:#333;
    transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -webkit-transition:all .3s linear;
}
.selected.active>a,.active>a{
    transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -webkit-transition:all .3s linear;
    color:#fff;
}
.credit{
    text-align:center;
    margin:20px 0;
}
.blog-link{
    color:#fff;
    text-decoration:none;
    background:#eee;
    background-size:40px;
    line-height:50px;
    display:inline-block;
    padding:0 10px;
    border-radius:4px;
    border-bottom:3px solid #ddd;
    color:#333;
    font-family:'open sans',sans-serif;
    margin:10px;
}
.dgithub{
    color:#fff;
    text-decoration:none;
    background:#eee url('https://lh6.googleusercontent.com/-MOW-T0KLZJI/UyR6EIggYkI/AAAAAAAAEbM/el92Uoxz-aI/s50-no/GitHub-Mark.png') no-repeat;
    background-size:40px;
    line-height:50px;
    display:inline-block;
    padding:0 10px 0 50px;
    background-position:5px;
    border-radius:4px;
    border-bottom:3px solid #ddd;
    color:#333;
    font-family:'open sans',sans-serif;
    margin:10px;
}

/*-------------------------Menu-------------------------*/

.categories {
    width: 100%;
}

.category {
    width: 40%;
    margin: 20px 5% 20px 5%;
    overflow: hidden;
    float: left;
    box-shadow: 0 0 15px rgba(95, 95, 95, 1);
    border-radius: 5px;
}

.category img {
    width: 100%;
    height: 100%;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.category img:hover {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.content ul {
    list-style: none;
    display: flex;
}

.content ul li {
    margin: 0 5px 0 5px;
    background-color: rgb(34, 36, 34);
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}

.content ul li:hover {
    background-color: rgb(51, 54, 50);
    cursor: pointer;
}

.prom-form {
    width: 60%;
    margin: auto;
}

.prom-form input {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.prom-form textarea {
    resize: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.prom-form input[type=file] {
    width: 100%;
    font-size: 16px;
}


/*-------------------------Authorization-------------------------*/

.auth-form {
    width: 40%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
}

.auth-form table {
    width: 80%;
    margin: 0 0 0 5px;
}

.auth-form table input {
    width: 100%;
}

.auth-form input[type=submit] {
    border: 1px solid white;
    border-radius: 3px;
    padding: 3px;
    float: left;
    background-color: black;
    color: white;
    cursor: pointer;
}

.auth-reg {
    float: right;
}

.auth-reg ul {
    list-style: none;
}

.registration {
    width: 80%;
    margin: auto;
    text-align: center;
}

.reg-form {
    text-align: right;
    width: 80%;
    margin: auto;
}

.reg-form table {
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.reg-form input[type=text] {
    width: 100%;
    border-radius: 2px;
}

.reg-form input[type=tel] {
    width: 100%;
    border-radius: 2px;
}

.reg-form input[type=email] {
    width: 100%;
    border-radius: 2px;
}
.reg-form input[type=password] {
    width: 100%;
    border-radius: 2px;
}

.reg-form input[type=submit] {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.reg-form input[type=checkbox] {
    background-color: white;
    float: left;
    color: black;
}

/* The switch - the box around the slider */
.switch {
    float: left;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: grey;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*-------------------------Admin-------------------------*/

.admin-panel {
    width: 100%;
    margin-bottom: 0;
    background-color: rgb(51, 54, 50);
}

.admin-panel ul {
    display: flex;
    list-style: none;
    padding: 3px;
}

.admin-panel ul li {
    background-color: black;
    padding: 5px;
    border-radius: 3px;
}

/*-------------------------Homepage-------------------------*/

.slides {
    width: 100%;
    margin: auto;
    height: 550px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 550px;
    background: black;
    position: relative;
}

.slide img {
    width: 100%;
    height: 550px;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.slide img:hover {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.slide_text{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px 0;
}

.slide_text_header {
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
}

.reserve {
    width: 100%;
    margin: 5px 0 5px 0;
    text-align: center;
}

dialog {
    width: 400px;
    height: 200px;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    border: 1px solid white;
}

dialog td {
    text-align: left;
    width: 100%;
}

.reserve table {
    text-align: left;
    margin: auto;
    border-spacing: 10px 5px;
    border-collapse: separate;
}

.reserve-form input {
    border-radius: 3px;
    font-size: 20px;
}

.reserve-form input[type=submit] {
    background: black;
    color: white;
    border: 2px solid white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

/*-------------------------Dishes---------------------------*/
.dishes {
    width: 90%;
    margin: auto;
}

.dish {
    /*width: 30%;*/
    width: 100%;
    height: 800px;
    margin: 0 15px 0 15px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(50, 51, 54, 0.8);
    box-shadow: 0 0 10px rgba(95, 95, 95, 1);
    float: left;
}

.dishImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
}

.dishImage img {
    width: 100%;
    height: 100%;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.dishImage img:hover {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

/*.dishInfo {*/
    /*width: 100%;*/
    /*height: 190px;*/
    /*float: right;*/
    /*margin-top: 10px;*/
    /*position: relative;*/
/*}*/

/*.dishName {*/
    /*width: 100%;*/
    /*font-size: 22px;*/
    /*text-align: center;*/
/*}*/

/*.dishDescription {*/
    /*width: 100%;*/
    /*font-size: 15px;*/
    /*text-align: left;*/
    /*float: left;*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    /*font-family: Arial, sans-serif;*/
/*}*/

/*.dishPrice {*/
    /*width: 45%;*/
    /*float: left;*/
    /*text-align: left;*/
    /*margin-left: 5px;*/
    /*position: absolute;*/
    /*left: 5px;*/
    /*bottom: 0;*/
/*}*/

/*.dishWeight {*/
    /*width: 45%;*/
    /*float: right;*/
    /*text-align: right;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 0;*/
    /*position: absolute;*/
    /*right: 5px;*/
    /*bottom: 0;*/
/*}*/

.new-dish-form {
    width: 60%;
    margin: auto;
}

/*-------------------------Contacts-------------------------*/
.contacts {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.contact {
    width: 15%;
    float: left;
    margin: 0 28px 0 28px;
}

.contact img {
    width: 128px;
    height: 128px;
}

.contact span {
    width: 100%;
}

.location {
    width: 80%;
    margin: auto;
}

/*-------------------------Promotions-----------------------*/
.prom-form {
    width: 60%;
    margin: auto;
}

.prom-form input {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.prom-form textarea {
    resize: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.prom-form input[type=file] {
    width: 100%;
    font-size: 16px;
}

.promotions {
    width: 80%;
    overflow: hidden;
    margin: auto;
}

.promotion {
    width: 100%;
    overflow: hidden;
    background-color: rgb(50, 51, 54);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(95, 95, 95, 1);
    position: relative;
}

.promotion-image {
    float: left;
    margin: 5px 5px 5px 5px;
    width: 18%;
}

.promotion-image img {
    width: 100%;
    height: 100%;
}

.promotion-info {
    width: 80%;
    float: right;
}

.promotion-name {
    width: 100%;
    text-align: left;
    margin: 5px 10px 5px 5px;
}

.promotion-description{
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 5px 5px 5px 5px;
}

.promotion-time {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 5px 5px 5px 5px;
    position: absolute;
    bottom: 0;
    left: 20%;
}

.promotion-days {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 5px 5px 5px 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*-------------------------Events---------------------------*/

.event-form {
    width: 60%;
    margin: auto;
}

.event-form input {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.event-form textarea {
    resize: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.event-form input[type=file] {
    width: 100%;
    font-size: 16px;
}

.events {
    width: 100%;
}

.upcEvents .pastEvents {
    width: 100%;
    margin: auto;
}

.event {
    width: 40%;
    margin: 20px 5% 20px 5%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(95, 95, 95, 1);
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
}

.event img {
    width: 100%;
    height: 100%;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.event img:hover {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}


.event-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    font-size: 18px;
    height: 25%;
}

.event-title {
    width: 100%;
    float: left;
}

.event-date {
    font-family: Arial, sans-serif;
    width: 100%;
    float: left;
}

.selected-event {
    width: 100%;
    overflow: hidden;
}

.selected-event-image {
    width: 100%;
    height: 500px;
    position: relative;
}

.selected-event-image img {
    width: 100%;
    height: 100%;
}

.selected-event-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.selected-event-title {
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.selected-event-date {
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.selected-event-description {
    width: 100%;
    margin: 50px 0 50px 0;
}

.selected-event-photos {
    width: 80%;
    margin: auto;
}

.photo {
    width: 20%;
    margin: 0 5px 0 5px;
    overflow: hidden;
    float: left;
}

.photo img {
    width: 100%;
    height: 100%;
}

.reserve-btn {
    background: rgb(50, 50, 50);
    color: white;
    height: 25px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.manage {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 32px;
    width: 74px;
    background: rgba(0, 0, 0, 0.9);
}

.manage img {
    float: right;
    margin: 0 2px 0 2px;
    width: 32px;
    height: 32px;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.manage img:hover {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}


/*-------------------------Footer---------------------------*/
.footer {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    overflow: hidden;
    position: relative;
}

.information {
    width: 60%;
    margin: auto;
}

.unity-logo-footer {
    width: 128px;
    height: 128px;
    float: left;
    overflow: hidden;
}

.unity-logo-footer img{
    width: 100%;
    height: 100%;
}

.unity-info {
    float: left;
}

.unity-info ul {
    list-style: none;
}

.unity-info ul li {
    margin: 3px 0 3px 0;
}

.clients {
    float: left;
}

.clients ul {
    list-style: none;
}

.clients ul li {
    margin: 0 3px 0 3px;
}

.unity-contacts {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.copyright {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    clear: both;
}

/*-------------------------Admin----------------------------*/
.admin {
    float: left;
}

.admin ul {
    list-style: none;
}

/*------------------------Applications----------------------*/
.applications {
    width: 100%;
    margin: auto;
}

#application {
    width: 100%;
    border: 2px solid white;
    border-collapse: collapse;
}

#application td, tr {
    border: 2px solid white;
    text-align: left;
    padding: 2px 5px 2px 5px;
    font-family: Arial, sans-serif;
}

/*--------------------Profile----------------------------*/
.profile {
    width: 60%;
    margin: auto;
}

.profile-info {
    width: 100%;
    text-align: left;
}

/*-------------------------Adaptive-------------------------*/

@media screen and (max-width: 1555px) and (min-width: 1450px) {
    .content ul li {
        font-size: 20px;
        margin: 0 10px 0 10px;
    }
}

@media screen and (max-width: 1449px) and (min-width: 1000px){
    .content ul li {
        font-size: 16px;
        margin: 0 10px 0 10px;
    }

    .header ul li {
        font-size: 16px;
    }

    .social-nets img {
        width: 30px;
        height: 30px;
    }

    .unity-logo img{
        width: 110px;
        height: 52px;
    }
}

@media screen and (max-width: 999px) {
    body {
        font-size: 14px;
    }

    .menu {
        margin: auto;
    }

    .menu ul li {
        margin: 0 5px 0 5px;
        font-size: 16px;
    }

    .unity-logo {
        margin: auto;
        height: 48px;
        width: 100px;
    }
}

@media screen and (max-width: 1870px) and (min-width: 1555px){
    .contact img {
        width: 80px;
        height: 80px;
    }

    .contact {
        font-size: 16px;
        margin: 0 20px 0 20px;
    }
}
